<%= tinymce_assets %>
<script type="text/javascript" src="/assets/tinymce.js"></script>
<style>
.main{
background-color:black;
color:white;
}
.edit_field{
width:100%;
}
.sidebar_left{
background-color:black;
color:white;
}
.prof_pic_holder{
margin-left:1%;
}
.field{

}
</style>

<div class="row-fluid main">
<div class="span12">
<div class="span3 sidebar_left">
<ul class="thumbnails">
  <li class="prof_pic_holder">
    <a href="#" class="thumbnail">
      <img src="/download.jpg" alt="">
    
</a>
<h3  class="text-info">Ariana S. Somechick</h3>
<dl class="dl-vertical pull-right">
<dt>Active Since</dt>
<dd>July, 2013</dd>
</dl>
  </li>
  
</ul>
</div>
  
<div class="field span6">

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    
  <% end %>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,class:'text-info edit_field tinymce',rows:10 %>
		<%= tinymce %>
  </div>
  <div class="actions">
    
	<%= f.submit class:"btn btn-info" %>
  </div>
</div>
</div>
<% end %>


